.footer{
    width: 100%;
    padding: 120px calc(40px + 1.5vw) calc(80px + 1.5vw) calc(40px + 1.5vw);
    &_h{
        width: 100%;
        text-align: right ;
        color: #FFB548;
    }
    &_nav{
        width: 100%;
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width: 480px) {
    .footer{
        width: 100%;
        padding: 10px calc(40px + 1.5vw) calc(60px + 1.5vw) calc(40px + 1.5vw);
        &_h{
            width: 100%;
            text-align: right ;
            color: #FFB548;
        }
        &_nav{
            width: 100%;
            padding-top: 20px;
            display: flex;
            flex-wrap: wrap;
        }
    }
}